<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlog.sckeeper.mapper.SecretMapper">

	<resultMap type="com.mlog.sckeeper.entity.Secret" id="secretEntity">
		<id jdbcType="VARCHAR" property="userName" column="USERNAME" />
		<result jdbcType="VARCHAR" property="secretKey" column="SECRETKEY" />
	</resultMap>

	<select id="getSecret" resultMap="secretEntity">
		SELECT
		*
		FROM SECRET
		WHERE
		USERNAME=#{userName}
	</select>

	<insert id="addSecret" parameterType="com.mlog.sckeeper.entity.Secret">
		INSERT INTO
		SECRET(USERNAME,SECRETKEY)
		VALUES
		(#{secret.userName},#{secret.secretKey})
	</insert>

	<update id="updateSecret" parameterType="com.mlog.sckeeper.entity.Secret">
		UPDATE SECRET SET
		SECRETKEY=#{secret.secretKey}
		WHERE
		USERNAME=#{secret.userName}
	</update>
</mapper>